@page "/practice"

<h3>Practice</h3>

<div class="card">
    <div class="card-header">
        Activity
    </div>
    <div class="card-body">
        <h5 class="card-title">Word Match Up</h5>
        <p class="card-text">Match the orginal words to your translated words.</p>
        <a href="/wordmatch" class="btn btn-primary">Let's Go!</a>
    </div>
</div>

<br /><br />

<div class="card">
    <div class="card-header">
        Activity
    </div>
    <div class="card-body">
        <h5 class="card-title">Quiz</h5>
        <p class="card-text">Answer the quiz questions about translations.</p>
        <a href="/quiz-home" class="btn btn-primary">Let's Go!</a>
    </div>
</div>

@code {

}
